* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

body {
  /* width: 100vw; */
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}
.arrow_icon {
  margin: 0;
  transition: transform 0.5s ease;
}

.description {
  margin-top: 35vh;
}
.rotate {
  transform: rotate(180deg);
}

input {
  font-size: 15px;
  font-weight: 600;
}

.length, .fluid, .home, .pressure, .temperature {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  /* padding-top: 10vh; */
  width: 100%;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(0, 120, 25));
}

.home {
  text-align: center;
}

nav {
  overflow: hidden;
  transition: height 0.5s, ease;
}

.outletOpen {
  opacity: 1;
  transition: opacity .5s ease;
}

.outletClosed {
  opacity: 0;
  transition: opacity .5s ease;
}

@media only screen and (max-width: 800px) {
  h3 {
    margin-bottom: .5em;
  }
  h4 {
    margin: .5em;
  }
}