* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  text-align: center;
  
}

li {
  cursor: pointer;
}
body {
  /* width: 100vw; */
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}
.arrow_icon {
  margin: 0;
  transition: transform 0.5s ease;
}

.description {
  margin-top: 35vh;
  font-style: italic;
}
.rotate {
  transform: rotate(180deg);
}

input {
  font-size: 15px;
  font-weight: 600;
}

.distance, .fluid, .home, .pressure, .temperature, .speed, .circle, .triangle, .rectangle {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  /* padding-top: 10vh; */
  width: 100%;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(0, 120, 25));
}

.fluid {
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(1, 0, 70));
}

.temperature {
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(148, 54, 0));
}

.pressure {
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(17, 73, 0));
}

.speed {
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(129, 0, 0));
}

.circle {
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(0, 56, 161));
}

.triangle {
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(155, 119, 0));
}

.rectangle {
  background: linear-gradient(to bottom right, rgb(191, 176, 255), rgb(0, 107, 48));
}

.home {
  text-align: center;
}

nav {
  overflow: hidden;
  transition: height 0.5s, ease;
}

.outletOpen {
  opacity: 1;
  transition: opacity .5s ease;
}

.outletClosed {
  opacity: 0;
  transition: opacity .5s ease;
}

@media only screen and (max-width: 800px) {
  h3 {
    margin-bottom: .5em;
  }
  h4 {
    margin: .5em;
  }
}